.header {
  position: relative;
  background-color: $dc-background-dark-blue;
  margin-bottom: 60px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }

  .container {
    padding: 80px 0;

    @include media-breakpoint-down(lg) {
      padding: 40px 0;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .breadcrumbs {
      @include tag($dc-text-light);

      span {
        &:first-child {
          margin-right: 5px;
        }

        &:not(:first-child) {
          margin-left: 5px;
        }
      }

      a {
        text-decoration: none;
        color: $dc-text-light;
      }
    }

    h1 {
      @include dc-h1($dc-text-light);
    }

    p {
      @include dc-p($dc-text-light);
    }
  }

  .cta-box {
    background-color: $dc-background-off-white;
    padding: 30px;

    h2 {
      @include dc-h4($dc-text-dark);
    }

    p {
      @include dc-p($dc-text-dark);
    }

    .button-secondary {
      @include dc-button($dc-secondary, lighten($dc-secondary, 10%));
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }

    .button {
      @include dc-button($dc-primary, lighten(#ff0020, 10%));
      text-align: center;
      width: 100%;
    }
  }
}