.locations {
  margin-bottom: 60px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }

  > div {
    margin: auto;
  }

  h2 {
    @include dc-h3($dc-text-dark);
  }

  h3 {
    @include dc-h4($dc-text-dark);
    margin-bottom: 10px;
  }

  p {
    @include dc-p($dc-text-dark);
  }

  .location-description {
    margin-bottom: 40px;
  }

  &.locations-head-office {
    > div {
      max-width: 1400px;
    }

    .head-office-container {
      display: flex;
      max-height: 400px;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        max-height: none;
      }

      img {
        width: 75%;
        border-radius: 10px 0 0 10px;
        object-fit: cover;

        @include media-breakpoint-down(lg) {
          width: 100%;
          border-radius: 10px 10px 0 0;
          height: 350px;
        }

        @include media-breakpoint-down(md) {
          height: 250px;
        }
      }

      .head-office-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;
        border: 1px solid #dadada;
        border-radius: 0 10px 10px 0;
        padding: 30px;

        @include media-breakpoint-down(lg) {
          width: 100%;
          border-radius: 0 0 10px 10px;
        }

        .tag {
          @include tag($dc-primary);
        }

        h3 {
          margin-bottom: 30px;
        }

        p {
          margin: 0;
        }

        a {
          text-decoration: none;
          color: $dc-text-dark;
          transition: $dc-transition-all;

          &:hover {
            color: $dc-primary;
          }
        }

        .location-address {
          margin: 0;
        }

        .address-container, .email, .phone {
          display: flex;
          gap: 10px;

          @include media-breakpoint-down(lg) {
            gap: 7px;
          }
        }

        .address-container, .email {
          margin-bottom: 20px;
        }

        .email, .phone {
          align-items: center;
        }

        i, svg {
          display: flex;
          width: 25px;
          height: 25px;

          @include media-breakpoint-down(lg) {
            width: 20px;
            height: 20px;
          }
        }

        svg path {
          fill: $dc-primary;
        }
      }
    }
  }

  &.locations-other {
    > div {
      max-width: 1200px;
    }

    .location-details {
      border: 1px solid #dadada;
      border-radius: 10px;
      padding: 30px;
      height: 100%;

      h3 {
        margin-bottom: 30px;
      }

      .address-container {
        display: flex;
        gap: 10px;

        @include media-breakpoint-down(lg) {
          gap: 7px;
        }

        .location-point, svg {
          display: flex;
          width: 25px;
          height: 25px;

          @include media-breakpoint-down(lg) {
            width: 20px;
            height: 20px;
          }
        }

        svg path {
          fill: $dc-primary;
        }
      }

      p, address {
        margin: 0;
      }
    }
  }

  //.location {
  //  display: flex;
  //  flex-direction: column;
  //
  //  @include media-breakpoint-up(lg) {
  //    &:nth-of-type(-n+3) {
  //      .location-contact {
  //        padding-bottom: 20px;
  //        border-bottom: 1px solid #d5d5d5;
  //      }
  //    }
  //  }
  //
  //  @include media-breakpoint-between(md, lg) {
  //    &:nth-of-type(-n+4) {
  //      .location-contact {
  //        padding-bottom: 20px;
  //        border-bottom: 1px solid #d5d5d5;
  //      }
  //    }
  //  }
  //
  //  @include media-breakpoint-down(md) {
  //    &:not(:last-child) {
  //      .location-contact {
  //        padding-bottom: 20px;
  //        border-bottom: 1px solid #d5d5d5;
  //      }
  //    }
  //  }
  //
  //  img {
  //    width: 100%;
  //    aspect-ratio: 16 / 9;
  //    object-fit: cover;
  //    margin-bottom: 20px;
  //  }
  //
  //  h3 {
  //    @include dc-h4($dc-text-dark);
  //    margin-bottom: 10px;
  //  }
  //
  //  .location-address {
  //    margin-bottom: 10px;
  //
  //    p {
  //      @include dc-p($dc-text-dark);
  //      margin: 0;
  //    }
  //  }
  //
  //  .location-contact {
  //    margin-top: auto;
  //
  //    strong {
  //      color: $dc-primary;
  //    }
  //
  //    p {
  //      @include dc-p($dc-text-dark);
  //      margin: 0;
  //
  //      a {
  //        @include dc-p($dc-text-dark);
  //        text-decoration: none;
  //        transition: $dc-transition-all;
  //
  //        &:hover {
  //          color: $dc-primary;
  //        }
  //      }
  //    }
  //  }
  //}
}