.mega-menu, .mega-menu-mobile {
  position: absolute;
  top: 95px;
  left: 0;
  width: 100%;
  z-index: 99;
  border-top: 0.5px solid $dc-background-dark-blue;
  border-bottom: 0.5px solid $dc-background-dark-blue;
  display: none;

  .row > div {
    padding: 30px 40px;
  }

  .service-list-menu {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      font-family: $dc-body;
      font-weight: $dc-bold;
      color: $dc-primary;
      font-size: 18px;
      margin-bottom: 20px;
      display: block;

      @include media-breakpoint-down(lg) {
        font-size: 16px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-family: $dc-body;
        font-size: 16px;
        color: $dc-text-dark;
        margin-bottom: 15px;

        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }

        a {
          text-decoration: none;
          transition: $dc-transition-all;
          @include dc-p($dc-text-dark);

          &:hover {
            color: $dc-primary;
          }
        }
      }
    }

    .button {
      @include dc-button($dc-primary, darken($dc-primary, 10%));
    }
  }

  .business-info {
    background-color: #fcfcfc;

    .contact-info, .business-hours, .out-of-hours {
      display: flex;
      gap: 15px;
      margin-bottom: 40px;

      a {
        text-decoration: none;
        transition: color .3s;
        display: block;

        @include dc-p($dc-text-dark);

        &:hover {
          color: $dc-primary;
        }
      }

      p {
        @include dc-p($dc-text-dark);
        margin: 0;
      }

      .heading {
        font-weight: $dc-semi-bold;
      }
    }

    .button {
      @include dc-button($dc-secondary, lighten($dc-secondary, 10%));
    }
  }

  .recent-post {
    background-color: $dc-background-off-white;

    .heading {
      font-family: $dc-body;
      font-size: 20px;
      color: $dc-primary;
      margin-bottom: 20px;
      font-weight: $dc-semi-bold;
    }

    .standard-case-note-card {
      @import "../../misc/standard-case-note-card";

      img, .image-wrapper {
        max-width: 250px;
      }
    }
  }
}