.mobile-menus {
  display: none;
  background-color: $dc-background-off-white;
  position: absolute;
  top: 80px;
  left: 0;
  height: 100vh;
  background-color: $dc-background-off-white;
  width: 100%;
  z-index: 99;

  @include media-breakpoint-down(md) {
    top: 60px;
  }

  .mobile-menu-inner {
    border-top: 0.5px solid black;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
    padding: 25px 0;

    @include media-breakpoint-down(md) {
      max-height: calc(100vh - 130px);
    }
  }

  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        width: fit-content;

        &.mega-menu-link {
          position: relative;
          margin-right: 30px !important;

          &.active {
            &:after {
              background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBhcmlhLWhpZGRlbj0idHJ1ZSIgcm9sZT0iaW1nIiBjbGFzcz0iaWNvbmlmeSBpY29uaWZ5LS1pYyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8cGF0aCBmaWxsPSIjRUUyNDNEIiBkPSJNMTkgNi40MUwxNy41OSA1TDEyIDEwLjU5TDYuNDEgNUw1IDYuNDFMMTAuNTkgMTJMNSAxNy41OUw2LjQxIDE5TDEyIDEzLjQxTDE3LjU5IDE5TDE5IDE3LjU5TDEzLjQxIDEyeiI+PC9wYXRoPgo8L3N2Zz4=');
              width: 15px;
              height: 15px;
            }

            a {
              color: $dc-primary;
            }
          }

          &:after {
            content: "";
            position: absolute;
            right: -20px;
            width: 13px;
            height: 7px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE0IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNNy4zOTc3IDcuNjYyOTJDNy4xNzgwMiA3Ljg4MjU5IDYuODIxOTIgNy44ODI1OSA2LjYwMjI1IDcuNjYyOTJMMC44NjczODcgMS45MjgwNEMwLjY0NzcyIDEuNzA4MzcgMC42NDc3MiAxLjM1MjI3IDAuODY3Mzg3IDEuMTMyNTlMMS4xMzI1NiAwLjg2NzM5M0MxLjM1MjIyIDAuNjQ3NzE4IDEuNzA4MzggMC42NDc3MTggMS45MjgwNSAwLjg2NzM5M0w2Ljk5OTk3IDUuOTM5MzRMMTIuMDcxOSAwLjg2NzM5M0MxMi4yOTE2IDAuNjQ3NzE4IDEyLjY0NzcgMC42NDc3MTggMTIuODY3NCAwLjg2NzM5M0wxMy4xMzI2IDEuMTMyNTlDMTMuMzUyMiAxLjM1MjI3IDEzLjM1MjIgMS43MDgzNyAxMy4xMzI2IDEuOTI4MDRMNy4zOTc3IDcuNjYyOTJaIiBmaWxsPSIjMDAwRjIwIi8+Cjwvc3ZnPgo=');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
          }
        }

        &:not(:last-child) {
          margin-right: 15px;
        }

        a {
          font-family: $dc-body;
          font-size: 16px;
          color: $dc-text-dark;
          text-decoration: none;
          transition: $dc-transition-all;

          @include media-breakpoint-down(lg) {
            font-size: 12px;
          }

          &:hover {
            color: $dc-primary;
          }
        }
      }
    }
  }

  .mega-menu-mobile {
    position: relative !important;
    top: 0 !important;
    margin-top: 10px;

    .row > div {
      padding: 10px 12px;
    }

    .business-info, .service-list-menu, .recent-post {
      background-color: unset;
    }
  }

  .ctas {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;

    .button {
      @include dc-button($dc-primary, darken($dc-primary, 10%));
      display: flex;
      align-items: center;
    }

    .button-secondary {
      i {
        margin-right: 5px;

        path {
          transition: $dc-transition-all;
        }
      }

      &:hover path {
        fill: lighten($dc-secondary, 10%);
      }

      @include dc-button-secondary($dc-secondary, lighten($dc-secondary, 10%));
    }

    a {
      width: 100% !important;
      text-align: center;
      justify-content: center;
    }
  }
}