.feedback {
  margin-bottom: 80px;

  .heading {
    margin-bottom: 50px;

    .tag {
      @include tag($dc-primary);
    }

    h2 {
      font-family: $dc-heading;
      font-weight: $dc-bold;
      font-size: 48px;
      margin-bottom: 20px;
      color: $dc-text-dark;

      @include media-breakpoint-down(lg) {
        font-size: 40px;
      }
    }

    p {
      font-family: $dc-body;
      font-size: 16px;
      color: $dc-text-dark;
      max-width: 560px;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }

      a {
        color: $dc-primary;
      }
    }
  }

  #feedback-slider {
    .splide__slide {
      .stars {
        margin-bottom: 20px;
        width: 115px;
      }

      .testimonial {
        font-family: $dc-heading;
        font-size: 20px;
        color: $dc-text-dark;
        font-weight: $dc-bold;
        margin-bottom: 15px;
      }

      .person {
        width: 55px;
        height: 55px;
        object-fit: cover;
        margin-bottom: 15px;
        border-radius: 50px;
      }

      .name {
        font-family: $dc-body;
        font-size: 16px;
        color: $dc-text-dark;
        font-weight: $dc-semi-bold;
        margin-bottom: 0;

        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }
      }

      .job-company {
        font-family: $dc-body;
        font-size: 16px;
        color: $dc-text-dark;
        margin-bottom: 15px;

        @include media-breakpoint-down(lg) {
          font-size: 14px;
        }
      }

      .logo {
        height: 60px;
      }
    }

    @import "../../misc/splide-pagination";
    @import "../../misc/splide-arrow";
  }
}