.hero {
  overflow: hidden;
  margin-bottom: 80px;

  .left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
      min-height: 400px;
    }

    .content {
      @include media-breakpoint-up(lg) {
        margin-right: 50px;
      }

      h1 {
        font-family: $dc-heading;
        font-weight: $dc-bold;
        font-size: 56px;
        margin-bottom: 20px;
        color: $dc-text-dark;

        @include media-breakpoint-down(lg) {
          font-size: 50px;
        }
      }

      p {
        font-family: $dc-body;
        font-size: 16px;
        color: $dc-text-dark;
      }

      button {
        margin-top: 20px;
        @include dc-button($dc-secondary, lighten($dc-secondary, 10%))
      }
    }
  }

  .right {
    display: flex;
    overflow: hidden;

    @include media-breakpoint-down(lg) {
      height: 500px;
    }

    .first-row-images {
      padding-right: 10px;
      height: 700px;
      margin-top: -100px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        padding-bottom: 10px;
      }
    }

    .second-row-images {
      height: 700px;
      margin-top: -200px;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        padding-bottom: 10px;
      }
    }
  }
}