.services {
  //margin-bottom: 60px;
  background: $dc-secondary;
  padding: 60px 0;

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }

  > div {
    max-width: 1600px;
    margin: auto;
  }

  .heading {
    margin-bottom: 50px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }

    .tag {
      @include tag($dc-text-light);
    }

    h3 {
      @include dc-h3($dc-text-light);
    }

    p {
      @include dc-p($dc-text-light);
      max-width: 768px;
    }
  }

  .service-list {
    @include media-breakpoint-down(xl) {
      &:nth-child(-n+3) {
        margin-bottom: 25px;
      }
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }

    .service-list-inner {
      padding: 30px;
      border-radius: 5px;
      background: $dc-background-off-white;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        font-family: $dc-body;
        font-weight: $dc-bold;
        color: $dc-primary;
        font-size: 18px;
        margin-bottom: 20px;

        @include media-breakpoint-down(lg) {
          font-size: 16px;
        }
      }

      &.individuals {
        ul {
          columns: 3;

          @include media-breakpoint-down(lg) {
            columns: 2;
          }

          @include media-breakpoint-down(md) {
            columns: 1;
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0 0 20px;

        li {
          @include dc-p($dc-text-light);
          margin-bottom: 15px;

          a {
            text-decoration: none;
            color: $dc-text-dark;
            transition: $dc-transition-all;

            &:hover {
              color: $dc-primary;
            }
          }
        }
      }

      .button {
        @include dc-button($dc-primary, darken($dc-primary, 10%));
      }
    }
  }
}