.services {
  margin-bottom: 80px;

  .heading {
    margin-bottom: 50px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }

    .tag {
      @include tag($dc-primary);
    }

    h2 {
      font-family: $dc-heading;
      font-weight: $dc-bold;
      font-size: 48px;
      margin-bottom: 20px;
      color: $dc-text-dark;

      @include media-breakpoint-down(lg) {
        font-size: 40px;
      }
    }

    p {
      font-family: $dc-body;
      font-size: 16px;
      color: $dc-text-dark;
      max-width: 768px;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }
    }
  }

  .service-list {
    h3 {
      font-family: $dc-body;
      font-weight: $dc-bold;
      color: $dc-primary;
      font-size: 18px;
      margin-bottom: 20px;

      @include media-breakpoint-down(lg) {
        font-size: 16px;
      }
    }

    p {
      font-family: $dc-body;
      font-size: 16px;
      color: $dc-text-dark;

      @include media-breakpoint-down(lg) {
        font-size: 14px;
      }

      a {
        text-decoration: none;
        color: $dc-text-dark;
        transition: $dc-transition-all;

        &:hover {
          color: $dc-primary;
        }
      }
    }

    .button {
      margin-bottom: 40px;
      @include dc-button($dc-primary, darken($dc-primary, 10%));
    }

    &:last-child .button {
      margin-bottom: 0;
    }
  }
}