.splide__pagination {
  display: block !important;
  opacity: 1 !important;
  margin-top: -50px;
  position: relative;
  padding: 0;

  .splide__pagination__page {
    width: 8px;
    height: 8px;
    background: #CCCCCC;
    border-radius: 50%;
    margin: 5px;
    opacity: 1;

    &.is-active {
      background: $dc-primary;
    }
  }
}