footer {
  background-color: $dc-background-dark-blue;
  padding-top: 50px;

  > div {
    max-width: 1600px !important;
    margin: auto;
  }

  address {
    margin: 0;
  }

  .info {
    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }

    .logo {
      margin-bottom: 20px;

      svg {
        width: 200px;

        path {
          fill: $dc-text-light;
        }
      }
    }

    p {
      @include dc-p($dc-text-light);

      &.heading {
        font-weight: $dc-semi-bold;
        margin-bottom: 0;
      }
    }

    .address {
      margin-bottom: 10px;
    }

    a {
      @include dc-p($dc-text-light);
      text-decoration: none;
      display: block;
      transition: $dc-transition-all;

      &:hover {
        color: $dc-primary;
      }
    }

    .sra {
      margin: 20px 0;
    }

    .socials {
      display: flex;
      gap: 12px;

      svg path {
        transition: $dc-transition-all;
      }

      a:hover path {
        fill: $dc-primary;
      }
    }
  }

  .menus {
    .all-footer-menus {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: flex-end;

        #footer-menu {
          margin-right: 50px;
        }
      }

      @include media-breakpoint-down(lg) {
        #footer-menu {
          margin-bottom: 30px;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          a {
            @include dc-p($dc-text-light);
            text-decoration: none;
            transition: $dc-transition-all;

            &:hover {
              color: $dc-primary;
            }
          }
        }
      }
    }
  }

  .bottom {
    .content {
      border-top: 1px solid $dc-background-off-white;
      margin-top: 60px;
      padding-top: 30px;
      padding-bottom: 50px;

      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
      }

      p, a {
        @include dc-p($dc-text-light);
        text-decoration: none;
        transition: $dc-transition-all;
      }

      a:hover {
        color: $dc-primary;
      }
    }
  }
}