// Boostrap Override
:root {
  --bs-body-bg: #f9f9f9;
}

// Typography
$dc-heading: "Playfair Display", serif;
$dc-body: "Montserrat", serif;

$dc-light: 300;
$dc-normal: 400;
$dc-medium: 500;
$dc-semi-bold: 600;
$dc-bold: 700;

// Colors
$dc-background-off-white: #f9f9f9;
$dc-background-dark-blue: #000F20;
$dc-text-light: #F5F5F5;
$dc-text-dark: #000F20;
$dc-primary: #EE243D;
$dc-secondary: #00375B;

//Other
$dc-transition-all: all .3s;