// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
// Alternate pair
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Splide
@import '~@splidejs/splide/dist/css/splide.min.css';

// Variables
@import 'variables';

// Mixins
@import 'mixins';

:root {
  --app-height: 100%;
}

#wrapper {
  overflow-x: hidden;
  position: relative;
}

.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

body:not(.home) main {
  margin-top: 96px;

  @include media-breakpoint-down(lg) {
    margin-top: 63px;
  }
}

// Components
@import "components/header/header";

@import "components/homepage/homepage";
@import "components/why-page/why";
@import "components/default-page/default-page";
@import "components/404/404";
@import "components/search/search";

@import "components/content/blog";

@import "components/archive/category-term";

@import "components/footer/footer";
