.our-approach {
  //margin-bottom: 60px;
  background: $dc-background-dark-blue;
  padding: 60px 0;

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }

  @include media-breakpoint-down(lg) {
    padding: 40px 0;
  }

  .heading {
    @include media-breakpoint-down(lg) {
      margin-bottom: 50px;
    }

    .tag {
      @include tag($dc-primary);
    }

    h3 {
      @include dc-h3($dc-text-light);
    }

    .button {
      @include dc-button($dc-primary, darken($dc-primary, 10%));
    }
  }

  .approach {
    .timeline {
      .item {
        position: relative;
        overflow: hidden;

        &:last-child {
          p {
            margin-bottom: 0;
          }
        }

        &:not(:last-child) {
          &:before {
            content: "";
            display: block;
            position: absolute;
            left: 25px;
            top: 60px;
            height: 55%;
            width: 2px;
            background: linear-gradient(to bottom, #EE243D var(--line-fill-percentage, 0%), grey var(--line-fill-percentage, 0%));
          }

          .content {
            min-height: 166px;
          }
        }

        .content {
          position: relative;

          img {
            width: 50px;
            height: 50px;
            position: absolute;
            filter: grayscale(1);
            transition: $dc-transition-all;
          }

          .text {
            margin-left: 90px;

            h3 {
              font-family: $dc-heading;
              font-size: 20px;
              color: $dc-text-light;
              font-weight: $dc-bold;
            }

            p {
              @include dc-p($dc-text-light);
            }
          }
        }
      }
    }
  }
}