.trusted-by {
  opacity: 1;
  margin-bottom: 50px;

  h2 {
    text-align: center;
    font-family: $dc-body;
    font-weight: $dc-semi-bold;
    color: $dc-text-dark;
    font-size: 18px;
    margin-bottom: 30px;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }

   span {
     font-weight: $dc-bold;
     color: $dc-primary;
   }
  }

  img {
    filter: grayscale(1) brightness(0);
    transition: $dc-transition-all;
    height: 75px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }

    &:hover {
      filter: grayscale(0) brightness(1);
    }
  }
}